apiVersion: apps/v1
kind: Deployment
metadata:
  name: echo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: echo
  template:
    metadata:
      labels:
        app: echo
    spec:
      containers:
      - name: app
        image: jpedrob/echo:v0.1.0
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: __NAME__
          value: echo
        - name: SHOW_VARS
          value: __NAME__

---
apiVersion: v1
kind: Service
metadata:
  name: echo
spec:
  type: NodePort
  selector:
    app: echo
  ports:
    - port: 80
      targetPort: 8080
